.nav-link {
  color: #f0d22b;
  transition-duration: 1s; }

.navbar-toggler {
  color: #f0d22b; }

.navbar-toggler-icon {
  color: aqua !important; }

.nav-link:hover {
  transform: scale(1);
  color: #fff; }

body {
  background-color: #f0d22b; }
  body .logoppal {
    width: 80px;
    height: 80px; }
  body main {
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 70vh; }
    body main h1 {
      font-family: 'Dancing Script', cursive;
      font-size: 70px;
      font-weight: lighter;
      color: #000000;
      text-align: center; }
    body main .container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      body main .container p {
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        font-weight: normal;
        color: #000000;
        padding-top: 2em; }
      body main .container img {
        margin: 10px;
        padding: 10px;
        width: 20%; }
  body footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin-top: 0; }
    body footer img {
      max-width: 20px;
      max-height: 20px; }

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.w-100 {
  width: 600px !important;
  display: flex !important;
  justify-content: center !important; }

.carousel-item.active {
  display: flex !important;
  flex-wrap: nowrap !important;
  justify-content: center !important; }

.carousel-caption {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px; }
  .carousel-caption h5 {
    text-shadow: 1px 2px 2px black; }
  .carousel-caption p {
    text-shadow: 1px 2px 2px black;
    font-weight: bold; }

main {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  main .contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em; }

h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  font-weight: lighter;
  color: #000000;
  align-items: center; }

.contacto span {
  font-weight: bold; }

.formulario {
  margin-top: 80px;
  margin-bottom: 80px; }

.form-reserv {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1); }

.form-signin-titulo,
.checkbox {
  margin-bottom: 30px; }

.checkbox {
  font-weight: normal; }

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px; }

input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

input[type="date"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  font-weight: lighter;
  color: #000000;
  align-items: center; }

.button, .map {
  align-content: center; }

main h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
  font-weight: lighter;
  color: #000000;
  text-align: center; }

.cuidados {
  padding: 30px;
  display: grid;
  grid-gap: 1em;
  text-align: center; }

.cuidados-ext {
  padding: 1em;
  grid-column: 1 / 2;
  grid-row: 1;
  border: 2px solid #000000;
  border-radius: 15px; }

.lista-cuidados {
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  padding: 20px; }

.retoque-ext {
  grid-column: 2/2;
  grid-row: 1;
  border: 2px solid #000000;
  border-radius: 15px; }

.imgret {
  width: 50%; }

.cuidados-retoq {
  padding: 20px; }

h4 {
  font-family: 'Dancing Script', cursive; }

.cuidados-lift {
  padding: 1em;
  grid-column: 1/3;
  border: 2px solid #000000;
  border-radius: 15px; }

@media screen and (max-width: 768px) {
  body main .cuidados {
    grid-gap: 0;
    grid-row-gap: 1em; }
  .retoque-ext {
    grid-column: 1/1;
    grid-row: 2; }
  .cuidados-ext {
    grid-column: 1/2; }
  .cuidados-lift {
    grid-column: 1/3; }
  .carousel-caption {
    display: grid !important;
    justify-content: center !important; } }

@media screen and (max-width: 576px) and (max-width: 768px) {
  body main .w-100 {
    width: 340px !important;
    display: flex !important;
    justify-content: center !important; } }

@media screen and (max-width: 375px) and (max-width: 576px) {
  body main .container {
    flex-direction: column; }
    body main .container img {
      width: 200px; }
  body main .w-100 {
    width: 340px !important;
    display: flex !important;
    justify-content: center !important; }
  body main .contenedor {
    display: flex;
    flex-direction: column; }
    body main .contenedor .map iframe {
      width: 100%; }
  body main .cuidados {
    grid-gap: 0;
    grid-row-gap: 1em; } }
