main {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .contenedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2em;
        

    }
}

.map {
    @extend .button;  
}

h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    font-weight: lighter;
    color: $color-secundario;
    align-items: center;
}

.contacto {
    span {
        font-weight: bold;
    }
}
