.nav-link {
    color: $color-primario;
    transition-duration: 1s;
}

.navbar-toggler {
    color:$color-primario;
    
}
.navbar-toggler-icon{
    color: aqua !important;
}

.nav-link:hover {
    transform: scale(1);
    color: #fff;
}