.logoppal {
    width: 80px;
    height: 80px;
}

body {
    background-color: $color-primario;
}

header {
    padding: $pad+6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h1 {
        font-family: 'Dancing Script', cursive;
        font-size: 70px;
        font-weight: lighter;
        color: $color-secundario;
        text-align: center;
    }

    img {
        margin: 10px;
        padding: $pad;
        width: 300px;
    }
}


p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: $color-secundario;
}