main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.w-100 {
    width: 600px !important;
    display: flex !important;
    justify-content: center !important;
}

.carousel-item.active {
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: center !important;
}

.carousel-caption {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    h5 {
        text-shadow: 1px 2px 2px black;
    
    }
    p {
        text-shadow: 1px 2px 2px black;
        font-weight: bold;
}
}