$color-primario: #f0d22b;
$color-secundario: #000000;
$bordes: 2px solid $color-secundario;
$pad: 10px;

@import "nav";
@import "footer";
@import "principal";
@import "servicios";
@import "contacto";
@import "reservar";
@import "cuidados";
@import "mediaq"
