$color-primario: #f0d22b;
$color-secundario: #000000;
$bordes: 2px solid $color-secundario;
$pad: 10px

@import "nav";
@import "footer";

.logoppal {
    width: 80px;
    height: 80px;
}

body {
    background-color: $color-primario;
}

header {
    padding: $pad+6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h1 {
        font-family: 'Dancing Script', cursive;
        font-size: 70px;
        font-weight: lighter;
        color: $color-secundario;
        text-align: center;
    }

    img {
        margin: 10px;
        padding: $pad;
        width: 300px;
    }
}


p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: $color-secundario;
}

.w-100 {
    width: 500px !important;
    display: flex !important;
    justify-content: center !important;
}

.carousel-item.active {
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: center !important;
}

.carousel-caption {
    p {
        font-weight: bold;
}
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

map {
    @extend .button;
}

h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    font-weight: lighter;
    color: $color-secundario;
    align-items: center;
}

.contacto {
    span {
        font-weight: bold;
}
}

.formulario {	
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-reserv {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1); 
}

  .form-signin-titulo,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="date"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}

    h2 {
        font-family: 'Dancing Script', cursive;
        font-size: 50px;
        font-weight: lighter;
        color: $color-secundario;
        align-items: center;
    }

.button {
    align-content: center;
}

main {
    h1 {
        font-family: 'Dancing Script', cursive;
        font-size: 70px;
        font-weight: lighter;
        color: $color-secundario;
        text-align: center;
}
}

.cuidados {
    padding: $pad*3;
    display: grid;
    grid-template-columns: repeat(2fr 1fr);
    grid-gap: 1px;
    text-align: center;
}

@mixin border ($border, $radius) {
    border: $border
    border-radius: $radius
    
}

.cuidados-ext {
    grid-column: 1 / 2;
    grid-row: 1;
    @include border ($bordes, 15px)
}

.lista-cuidados {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    padding: $pad*2;
}

.retoque-ext {
    grid-column: 2/2;
    grid-row: 1;
    @include border ($bordes, 15px)
}

.imgret {
    width: 50%;
}

.cuidados-retoq {
    padding: 20px;
}

h4 {
    font-family: 'Dancing Script', cursive;
}

.cuidados-lift {
    grid-column: 1/3;
    margin: 30px 5px;
    @include border ($bordes, 15px)
}

@media screen and (max-width: 768px) {
    .retoque-ext {
        grid-column: 1/1;
        grid-row: 2;
    }

    .cuidados-ext {
        grid-column: 1/2;

    }

    .cuidados-lift {
        grid-column: 1/3;
    }

    .carousel-caption {
        display: grid !important;
        justify-content: center !important;
    }

}
